{% extends "template.html" %}
{% block content %}

<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-primary" href="{{ url_for('new') }}">Novo Filme ou Série</a>
<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Duração</th>
            <th>Onde Assistir</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for movie_or_series in movie_and_series %}
        <tr>
            <td>{{ movie_or_series.name }}</td>
            <td>{{ movie_or_series.duration }}</td>
            <td>{{ movie_or_series.local }}</td>
            <td>
                <a class="btn btn-info btn-sm" href="{{ url_for('edit', id=movie_or_series.id) }}">Editar</a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('delete', id=movie_or_series.id) }}">Deletar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}