{% extends "template.html" %}
{% block content %}

<body>
    <div class="container">
        <h1>Faça seu login</h1>
        <form method="POST" action="/authenticate">
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.csrf_token() }}
            <p>
                {{ form.nickname.label(class="form-label") }}
                {{ form.nickname(class="form-control") }}
            </p>
            <p>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </p>
            <p>
                {{ form.save(class="btn btn-primary") }}
                <a class="btn btn-primary" href="{{ url_for('index') }}">Voltar</a>
            </p>
        </form>
    </div>
</body>

{% endblock %}